body {
  font-family: Arial, sans-serif;
  background-color: #3a25a2;
  margin: 0;
  padding: 0;
}

h2 {
  text-align: center;
  color: #fff;
}

form {
  max-width: 400px;
  margin: 20px auto;
  background: #7752fe;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin-bottom: 8px;
  color: #fff;
}

input[type="text"],
textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

textarea {
  resize: vertical;
}

input[type="submit"] {
  background-color: #190482;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #8e8ffa;
}
